.fundo{
    background-color: #19BD9B;
    background-size: 100vw;
}
.fundo1{
    background-image: url("/img/head-background.svg");
    background-color: #19BD9B;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: -2vw 5vh;
    overflow: hidden;
}
.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: absolute;
    width: 100vw;
    height: auto;
}
.container2{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      background-color: #F8FDFF;
      width: 90vw;
      height: 65vh;
      position: absolute;
      border-radius: 0  32.5vh 32.5vh 0;
      top: 10vh ;
      background-image: url("/img/bkg.svg");
      background-size: 50% ;
}
.container2 .row{
    height: 65vh;
    width: 90vw;
    border-radius: 0  32.5vh 32.5vh 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.container2 .row .col{
    height: 21.666666vh;
    width: 18vw;
}
.titulo1{
    top: 79vh;
    position: relative;
    font-family: "adumuregular";
    font-style: normal;
    font-weight: normal;
    font-size: 9.5vw;
    display: flex;
    letter-spacing: -0.015em;
    color: #BBF6CF;
    margin-left: 5.5vw;
}
#color {
    top: 79vh;
    left: 54.5vw;
    position: absolute;
    font-family: "adumuregular";
    font-style: normal;
    font-weight: normal;
    font-size: 9.5vw;
    display: flex;
    letter-spacing: -0.015em;
    color: #19BD9B;

}
#logo-eic{
    width: 27.3vw;
    top:66.1vh;
    left: 52vw;
    position: relative;
    color:#19BD9B ;
    position: absolute;
}
.vs1 img{
    width: 13vw;
    border-radius: 400px;
    top: 5vh;
    left: -2vw;
    position: relative;
 }
 .vs2 img{
    width: 13vw;
    border-radius: 250px;
    
    position: relative;
 }
 .vs3 img{
    width: 12.5vw;
    border-radius: 200px;
    
    position: relative;
 }
 .vs4 img{
    width: 12vw;
    border-radius: 400px;
    
    position: relative;
 }
 .vs5 img{
    width: 13vw;
    top: 3.5vh;
    position: relative;
 }
 .vs6 img{
    width: 11vw;
    border-radius: 250px;
    top: 2vh;
    left: auto;
    position: relative;
 }
 .vs7 img{
    width: 16vw;
    border-radius: 400px;
    top: 13vh;
    position: relative;
 }
 .vs8 img{
    width: 12.6vw;
    top: 1vh;
    position: relative;
 }
 .vs9 img{
    width: 12vw;
    left: 10vw; 
    position: relative;
 }
 .vs10 img{
    width: 14vw;
    border-radius: 400px;
    top: 1vh;
    position: relative;
 }
 .vs11 img{
    width: 13vw;
    border-radius: 400px;
    top: 9vh;
    position: relative;
 }
 .vs12 img{
    width: 12.5vw;
    border-radius: 400px;
    
    position: relative;
 }
 .vs13 img{
    width: 11vw;
    border-radius: 400px;
    
    position: relative;
 }
 .vs14 img{
    width: 11.5vw;
    border-radius: 400px;
    top: 1.5vh;
    position: relative;
 }
 .vs15 img{
   width: 14vw;
   border-radius: 200px;
   position: relative;
}